// COLORS
$color-white-primary: #fff;
$color-white-secondary: #e5f4ff;
$color-white-tertiary: #e9e9e9;

$color-black-primary: #000;
$color-black-secondary: #4e4e4e;
$color-black-tertiary: #282828;

$color-blue-primary: #0e1731;
$color-blue-secondary: #98c5e9;
$color-blue-tertiary: #d6ecfe;

$color-grey-primary: #cecece;
$color-grey-secondary: #dddd;

$color-red: #f44336;
